<!DOCTYPE html>
<html>

<head>

  <meta charset="utf-8">
  <title>Testyantra</title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet"
    href="https://fonts.googleapis.com/css?family=Noto+Serif:400,400italic,700|Open+Sans:300,400,600,700">

</head>

<body>
  <section id="section-services" class="section pad-bot30 bg-white">
    <div class="container" style="margin-top: -75px">
      <h3 style="color: blue; font-size:50px" class="text-center mb-4">Services</h3>
      <div class="row mar-bot40">
        <div class="col-lg-6">
          <div class="box">

            <h3 class="text-bold">Managed QA Services</h3>
            <p>Managed Test Service of Test Yantra provides value additions which are unique and are un-matched</p>
            <img src="https://www.testyantra.com/sites/default/files/inline-images/Managed%20QA%20Services.png" style="position: relative;
                 left: 500px;
                 top: -97px;
                 height: 400px;
                 width: 550px;" lt="">
          </div>
          <div class="clear"></div>
        </div>
      </div>
      <div class="row mar-bot40">
        <div class="col-lg-6">


          <img src="http://www.testyantra.com/sites/default/files/inline-images/crowd%20testing.png" style="position: relative; top: -83px; height: 335px;
         width: 450px;" alt="">
          <h3 class="text-bold" style="position: relative;
        left: 616px;
         top: -444px;
     ">Crowd Testing</h3>
          <p style="left: 480px;
         position: relative;
         top: -448px;
     ">A unit of Test yantra is a trusted quality assurance partner and managed crowd testing company.</p>
          <div class="clear"></div>
        </div>
      </div>
      <div class="row mar-bot40">
        <div class="col-lg-6">

          <h3 class="text-bold" style="top: -133px;
              position: relative;">Professional Services</h3>
          <p style="position: relative;
              top: -132px;">We provide one stop solution for all software testing Professionals needs with large pool
            of software testing professions with varied testing skills</p>
          <img
            src="http://www.testyantra.com/sites/default/files/inline-images/Why%20Us%28GlobalProfessionalService%29.png"
            style="position: relative;
              left: 515px;
              top: -251px;
          " alt="">
          <div class="clear"></div>
        </div>
      </div>
    </div>
  </section>


  <section id="footer" class="section footer">
    <div class="container">
      <div class="row animated opacity mar-bot20" data-andown="fadeIn" data-animation="animation">
        <div class="col-sm-12 align-center">
          <ul class="social-network social-circle">
            <li><a href="#" class="icoRss" title="Rss"><i class="fa fa-rss"></i></a></li>
            <li><a href="#" class="icoFacebook" title="Facebook"><i class="fa fa-facebook"></i></a></li>
            <li><a href="#" class="icoTwitter" title="Twitter"><i class="fa fa-twitter"></i></a></li>
            <li><a href="#" class="icoGoogle" title="Google +"><i class="fa fa-google-plus"></i></a></li>
            <li><a href="#" class="icoLinkedin" title="Linkedin"><i class="fa fa-linkedin"></i></a></li>
          </ul>
        </div>
      </div>
      <div class="row align-center mar-bot20">
        <ul class="footer-menu">
          <li><a href="#">Home</a></li>
          <li><a href="#">About us</a></li>
          <li><a href="#">Privacy policy</a></li>
          <li><a href="#">Get in touch</a></li>
        </ul>
      </div>
      <div class="row align-center copyright">
        <div class="col-sm-12">
          <p>Copyright &copy; All rights reserved</p>
        </div>
      </div>
      <div class="credits">
        <!--
              All the links in the footer should remain intact.
              You can delete the links only if you purchased the pro version.
              Licensing information: https://bootstrapmade.com/license/
              Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/buy/?theme=Vlava
            -->
        Designed by <a href="https://testyantra.com/">Testyantra.com</a>
      </div>
    </div>
  </section>


  <a href="#header" class="scrollup"><i class="fa fa-chevron-up"></i></a>
</body>

</html>